{{ if (strings.HasPrefix .Destination "mailto") -}}
  {{ with .Text -}}
    {{ partial "main/email" (dict "emailAddress" $.Destination "emailTitle" .) }}
  {{ else -}}
    {{ partial "main/email" (dict "emailAddress" $.Destination) }}
  {{ end -}}
{{ else -}}
  {{ $parts := split .Destination "#" }}
  {{ $pageURL := index $parts 0 }}
  {{ $fragment := index $parts 1 }}

  {{ if not (strings.Contains $pageURL "/") }}
    <a href="{{ (.Page.GetPage $pageURL).RelPermalink }}{{ with $fragment }}#{{ $fragment }}{{ end }}"{{ with .Title }} title="{{ . }}"{{ end }}>{{ .Text | safeHTML }}</a>
  {{ else }}
    <a href="{{ $pageURL | safeURL }}{{ with $fragment }}#{{ $fragment }}{{ end }}"{{ with .Title }} title="{{ . }}"{{ end }}>{{ .Text | safeHTML }}</a>
  {{ end }}
{{- end -}}
