---
title: Late Move Reduction Test Results
---
**[Home](Home "Home") \* [Search](Search "Search") \* [Selectivity](Selectivity "Selectivity") \* [Reductions](Reductions "Reductions") \* [Late Move Reductions](Late_Move_Reductions "Late Move Reductions") \* Test Results**  

**[Home](Home "Home") \* [Engine Testing](Engine_Testing "Engine Testing") \* Late Move Reduction Test Results**






* [History Heuristic](History_Heuristic "History Heuristic")
* [History Leaf Pruning](History_Leaf_Pruning "History Leaf Pruning")
* [Move Count Based Pruning](Futility_Pruning#MoveCountBasedPruning "Futility Pruning") (Late Move Pruning)
* [Null Move Pruning Test Results](Null_Move_Pruning_Test_Results "Null Move Pruning Test Results")


## Forum Posts


* [value of LMR and null-move](http://www.open-chess.org/viewtopic.php?f=3&t=435) by [Robert Hyatt](Robert_Hyatt "Robert Hyatt"), [OpenChess Forum](Computer_Chess_Forums "Computer Chess Forums"), July 12, 2010
* [History heuristic and fixed depth search](http://www.talkchess.com/forum/viewtopic.php?t=56372) by [Peter Österlund](Peter_%C3%96sterlund "Peter Österlund"), [CCC](CCC "CCC"), May 16, 2015 » [History Heuristic](History_Heuristic "History Heuristic"), [Texel](Texel "Texel")
* [LMR prescription](http://www.talkchess.com/forum/viewtopic.php?t=65273) by [Evert Glebbeek](Evert_Glebbeek "Evert Glebbeek"), [CCC](CCC "CCC"), September 24, 2017


**[Up one level](Late_Move_Reductions "Late Move Reductions")**







 
